@charset "utf-8";

.body-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.login-container {
    margin: 100px auto;
    width: 80%;
    border: 1px solid #5656FF;
    border-radius: 5px;
}

form {
    padding: 20px;
    text-align: center;
}

input {
    width: 350px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #5656FF;
    padding: 0 3px;
}

.btn {
    width: 350px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #5656FF;
    color: white;
    border: none;
}